

nav{
    border: 1px solid rgb(178, 145, 255);
}

.intro{
    background-color: slateblue;
    height: 100vh;
    padding-top: 3rem!important;
}

#hero-links{
    max-width: 70%;
    align-content: center;
    margin-left: auto!important;
    margin-right: auto!important;
}

#how-to{
    height: 500px;
}

.img-thumbnail{
    height: 100px !important;
    border: none;
}

.navbar-brand{
    letter-spacing: .2em;
    color: rgb(201, 193, 255) !important;
    padding: .5em;
}