

.intro{
   background-color:rgb(97, 78, 150);
    height: 60vh;
    /* padding: none !important; */
}

#hero-links{
    max-width: 70%;
    align-content: center;
    margin-left: auto!important;
    margin-right: auto!important;
}

.search{
    margin-left: auto !important;
    margin-right: auto !important;
}

#how-to{
    height: 500px;
}

.img-thumbnail{
    height: 100px !important;
    border: none;
}

.navbar-brand{
    letter-spacing: .2em !important;
    color: rgb(201, 193, 255) !important;
    padding: .2em !important;
}

.jumbotron {
    text-align: center;
    padding-top: 2em;
    color: snow;
    height: 50vh;
    background-image: url("../images/magic-trick-banner.png");
    background-size: cover;
    background-position: center;
  }